/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a; /* Color de fondo oscuro */
  color: red; /* Color de texto claro */
}

/* Estilos para los enlaces */
a {
  color: red; /* Color de enlaces */
}

/* Estilos para el menú de navegación */
.nav {
  background-color: #333333; /* Color de fondo del menú */
}
h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color:red;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/* Definir correctamente el estilo para navbar fija */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: 0 1px 4px #000;
}

.navbar {
  text-align: center;
  width: 100%;
  z-index: 1000; /* Asegúrate de que la navbar esté por encima de otros elementos */
}

body {
  padding-top: var(--header-height); /* Ajusta este valor según la altura de tu navbar */
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: red;
}
.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: red;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color {
  color: red; /* Cambia el color a rojo */
}

.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: red;
}
.home__social-icon:hover {
  color: purple;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.home__blob {
  fill: purple;
}


/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.skills__text {
  margin-bottom: var(--mb-4);
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills__html {
  width: 95%;
}
.skills__css {
  width: 85%;
}
.skills__js {
  width: 65%;
}
.skills__ux {
  width: 85%;
}
.skills__img {
  border-radius: 0.5rem;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work__img img {
  transition: 1s;
}
.work__img img:hover {
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
    color: #000;
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}
.clients i {
  transition: color 0.3s ease-in-out;
}

.clients .js i:hover {
  color: #F7DF1E;
  /* Color amarillo de JavaScript */
}

.clients .css i:hover {
  color: #1572B6;
  /* Color azul de CSS */
}

.clients .html i:hover {
  color: #E34F26;
  /* Color naranja de HTML */
}

.clients .python i:hover {
  color: #3776AB;
  /* Color azul de Python */
}

.clients .php i:hover {
  color: #777BB4;
  /* Color morado de PHP */
}
.clients .mysql i:hover {
  color: blue; /* Cambia el color del ícono a azul cuando se hace hover */
}

.rounded-img {
  border-radius: 50%;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid red;
  border-radius: 50%;
  font-size: 20px;
  color: red;
  text-decoration: none;
  margin: 30px 15px 30px 0 ;
  transition: .5s ease;
}
 
.social-media a:hover {
  background: red;
  color: #1f242d;
  box-shadow: 0 0 20px red;
}
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .nav {
  background-color: #333333;
}

.dark-mode .nav__link {
  color: #ffffff;
}

/* Añade más reglas CSS según sea necesario */
.dark-mode .home__social-icon i {
  color: #ffffff; /* Color blanco para los iconos en modo oscuro */
}
.navbar {
  text-align: center;
}

.nav__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  margin-right: 20px; /* Espacio entre elementos del menú */
}

.nav__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: cyan; /* Color al pasar el ratón por encima */
} .navbar {
  text-align: center;
}

.nav__list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  margin-right: 20px; /* Espacio entre elementos del menú */
}

.nav__link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: red; /* Color al pasar el ratón por encima */
}
.home__container {
  display: flex;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card {
  max-width: 100%;
}
.rounded-circle {
  width: 100%;
  height: auto;
}
.custom-caption h2, .custom-caption h4 {
  color: black;
}

.card {
  height: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-text {
  margin-bottom: 20px;
}
.blockquote-footer {
  margin-top: 10px;
}
hr.text-white {
  border-top: 1px solid white;
  width: 80%;
}

body {
  font: 13px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif;
  color: #888888;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
/* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  background: #282828;
}

.templatemo_contacttitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.templatemo_sub_contacttitle {
  width: 100%;
  font-size: 22px;
  color: #91bf24;
  text-align: center;
  margin-bottom: 50px;
}

.templatemo_contact {
  margin: 30px;
  width: 100%;
  margin-left: 15%;
}

.templatemo_contactform input, textarea {
  width: 100%;
  background: #282828;
  border: 1px solid #393939;
  padding: 7px 10px;
  margin: 0px 0px 10px 0px;
  background-color: #FAFAFA;
}

.templatemo_contactform textarea {
  height: 100px;
}


.templatemo_contactform .btn-primary {
  background: #92bf24;
  border: none;
  border-radius: 0px;
  color: #3d5602;
  font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
  background: #a6d82c;
}
.text-center {
  text-align: center !important;
}